.SingleTask {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;

  li {
    box-shadow: 1px 2px 5px rgb(194, 193, 193);
    border-radius: 3px;
    width: 80%;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  button {
    width: 12%;
    background-color: rgb(238, 236, 236);
    border: none;
    border-radius: 5px;
    height: 33px;
    box-shadow: 1px 2px 5px rgb(194, 193, 193);
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(226, 223, 223);
    }
  }
}
